<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edusystem.org.mapper.RoleMapper">
    <resultMap id="roleMap" type="edusystem.org.entity.Role">
        <result column="role_id" jdbcType="INTEGER" property="roleId" />
        <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    </resultMap>

    <select id="findUserRole" resultMap="roleMap">
        SELECT
        r.*
        FROM
        role r
        LEFT JOIN user_role ur ON (r.role_id = ur.role_id)
        LEFT JOIN user u ON (u.user_id = ur.user_id)
        WHERE
            u.account = #{account}
    </select>

</mapper>
